.about-container {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 100px 50px;
  align-items: center;
  justify-content: center;
}

.about-container .about-header {
  margin-bottom: 20px;
}

.about-container .about-header h1 {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--pcolor);
}

.about-container .about-body {
  display: flex;
  flex: auto;
}
.about-container .about-body .about-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  flex-wrap: wrap;
  background-color: var(--bgcolor);
  margin: 20px;
  padding: 20px;
  box-shadow: 6px 5px 4px #eee;;
}
.about-container .about-body .about-section h3 {
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
}
.about-container .about-body .about-section p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  text-align: left;
}

/* RESPONSIVENESS */
@media screen and (max-width: 810px) {
  .about-container {
    padding: 50px 20px;
  }

  .about-container .about-body {
    display: flex;
    flex-direction: column;
  }

  .about-container .about-header h1 {
    text-align: center;
    line-height: 1;
  }
}
/* /RESPONSIVENESS */
